# ===== Общие игнорируемые правила =====
**/bin/
**/obj/
**/packages/
**/.vs/
**/.idea/
*.user
*.suo
*.iml
.DS_Store
Thumbs.db
__pycache__/

# ===== Исключения =====
!**/.gitkeep  # Для сохранения пустых папок